# dependencies
node_modules
/.pnp
.pnp.js

# pnpm
.pnpm-store/
.pnpm-debug.log*

# next.js
.next/
out/
.vercel

# testing
/coverage

# production
/build
/dist

# environment
.env
.env.hosted
.env.local

# debug
npm-debug.log*

# IDE
.vscode
.idea
.eslintcache

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

**/.claude/settings.local.json
