name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: web/package.json

      - name: Setup node env
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Copy env
        run: cp .env.example .env

      - name: Check format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint:check

      - name: Check types
        run: pnpm typecheck

      - name: Build
        run: pnpm build
